<a href="https://colab.research.google.com/github/supreethkumars/README.md/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
num=int(input('enter a number'))
if num % 2 ==0:
  print('num is even no')
else:
  print('num is odd no')

enter a number5
num is odd no

In [23]:
num=int(input('enter a number'))
if num % 2 ==0:
  print('num is even no')
else:
  print('num is odd no')

enter a number6
num is even no

In [ ]:
#TASK 2

In [32]:
l=list(range(1,51))
print(l)
total=sum(range(1,51))
print('sum from 1 to 51:',total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
sum from 1 to 51: 1275